/* latin */
@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    src: local('Overpass Regular'), local('Overpass-Regular'), url(https://fonts.gstatic.com/s/overpass/v3/qFdH35WCmI96Ajtm81GlU9s.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

html, body {
    background-image: linear-gradient(to right,#bbb, #ededed); 
    height: 100%; 
    width: 100%; 
    margin: 0;
    padding: 2em; 
    overflow: hidden; 
    font-family: 'Overpass'; 
}

#root {
    padding: 9em 1em 0em;
    margin: 0 auto; 
    max-width: 620px; 
}

.box-wrapper {
    border-style: hidden;
    padding-top: none; 
    padding-bottom: 1em; 
    background-color: white; 
}

.navbar {
    background-image: linear-gradient(#c00, #470000); 
    color: white; 
    padding-left: 1em; 
    height: 45px; 
    line-height: 45px;
    position: relative; 
}

.navbar > h4 {
    display: inline-block; 
    margin: 0;
}

.navbar > ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    display: inline-block; 
}

.navbar a {
    color: white; 
    text-align: right; 
    text-decoration: none; 
    text-align: center; 
}

.navbar-right {
    position: absolute;
    right: 0; 
}

.navbar-right > li {
    padding: 0 1em;
    margin: 0; 
    display: inline-block;
    border-left: .01em solid white; 
    height: 100%; 
}

li:last-child {
    border-right: none; 
}

.navbar-right > li:hover {
    background-image: radial-gradient(#c00, #1a1a1a);
}

.active{
    background-image: radial-gradient(#c00, #1a1a1a);
}

.panel {
    padding-top: 1em; 
    padding-left: 1em; 
    padding-right: 1em; 
}

.panel > h2 {
    font-weight: bold; 
}

.case-header{
    font-weight: bold; 
    display: inline-block; 
    width: 20%; 
}
.case-descriptor {
    display: inline-block; 
    margin-left: 3em; 
    width: 50%; 
}

.case-status {
    display: inline-block; 
    margin-left: 3em; 
    padding: 3px 7px; 
    border-radius: 3px; 
    background: green; 
    color: white; 
}